{<<"app">>,<<"jhn_stdlib">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"Jan Henry Nystrom's standard library,CBOR, JSON, MessagePack, Syslog, URI, IP address, Timestamp, UUID, TypeID,prefix/range/T-trees, Bloom filters, HTTP client, Mustache rendering mocking, and Server and FSM behaviours">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include">>,<<"include/uri.hrl">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src">>,<<"src/jhn_bencoding.erl">>,
  <<"src/jhn_blist.erl">>,<<"src/jhn_bloom.erl">>,<<"src/jhn_bstring.erl">>,
  <<"src/jhn_cbor.erl">>,<<"src/jhn_chash.erl">>,<<"src/jhn_fsm.erl">>,
  <<"src/jhn_hash.erl">>,<<"src/jhn_ip_addr.erl">>,<<"src/jhn_json.erl">>,
  <<"src/jhn_lazy.erl">>,<<"src/jhn_math.erl">>,<<"src/jhn_msgpack.erl">>,
  <<"src/jhn_mustache.erl">>,<<"src/jhn_p_tree.erl">>,
  <<"src/jhn_pb_tree.erl">>,<<"src/jhn_plist.erl">>,<<"src/jhn_r_tree.erl">>,
  <<"src/jhn_server.erl">>,<<"src/jhn_shadow.erl">>,<<"src/jhn_shttpc.erl">>,
  <<"src/jhn_stdlib.app.src">>,<<"src/jhn_syslog.erl">>,
  <<"src/jhn_t_tree.erl">>,<<"src/jhn_timestamp.erl">>,
  <<"src/jhn_typeid.erl">>,<<"src/jhn_unit.beam">>,<<"src/jhn_uri.erl">>,
  <<"src/jhn_uuid.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/JanHenryNystrom/jhn_stdlib.git">>}]}.
{<<"name">>,<<"jhn_stdlib">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"5.4.0">>}.
