{<<"app">>,<<"rebar3_audit">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Audit rebar3 dependencies for known vulnerabilities">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/rebar3_audit.app.src">>,<<"src/rebar3_audit.erl">>,
  <<"src/rebar3_audit_advisory.erl">>,<<"src/rebar3_audit_match.erl">>,
  <<"src/rebar3_audit_prv.erl">>,<<"src/rebar3_audit_version.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/erlef/rebar3_audit">>}]}.
{<<"name">>,<<"rebar3_audit">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.2.3">>}.
