{<<"app">>,<<"rebar3_hank">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"A rebar plugin for dead code cleaning">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"priv">>,
  <<"priv/overview.edoc">>,<<"rebar.config">>,<<"rebar.lock">>,<<"src">>,
  <<"src/hank.erl">>,<<"src/hank_context.erl">>,<<"src/hank_rule.erl">>,
  <<"src/hank_utils.erl">>,<<"src/rebar3_hank.app.src">>,
  <<"src/rebar3_hank.erl">>,<<"src/rebar3_hank_prv.erl">>,<<"src/rules">>,
  <<"src/rules/single_use_hrl_attrs.erl">>,
  <<"src/rules/single_use_hrls.erl">>,
  <<"src/rules/unnecessary_function_arguments.erl">>,
  <<"src/rules/unused_callbacks.erl">>,
  <<"src/rules/unused_configuration_options.erl">>,
  <<"src/rules/unused_hrls.erl">>,<<"src/rules/unused_macros.erl">>,
  <<"src/rules/unused_record_fields.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"github">>,<<"https://github.com/AdRoll/rebar3_hank">>}]}.
{<<"name">>,<<"rebar3_hank">>}.
{<<"requirements">>,
 [{<<"katana_code">>,
   [{<<"app">>,<<"katana_code">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 2.4.2">>}]}]}.
{<<"version">>,<<"1.6.1">>}.
